[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "1.14.0"
nltk = "*"
gdown = "*"
numpy = "*"
scipy = "*"
scikit-learn = "==0.22.2.post1"
pandas = "*"
torch = "*"
pyhocon = "*"
six = "*"
tensorflow-hub = "*"
astor = "*"

[dev-packages]

[requires]
python_version = "3.8"
